<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <redbox>
                <active>0</active>
                <price>5.00</price>
                <name>Ship to RedBox Pickup point</name>
                <title>Redbox</title>
                <description>Redbox provides smart parcel lockers services to customers in the Kingdom of Saudi Arabia.</description>
                <sort_order>15</sort_order>
                <model>Redbox\Shipping\Model\Carrier\Redbox</model>
            </redbox>
        </carriers>
    </default>
</config>
