<?xml version="1.0"?>
<!--
/**
 * (c) Redbox Parcel Lockers <thamer@redboxsa.com>
 * This source file is subject to the license that is bundled
 * with this source code in the file LICENSE.
 *
 * Built by Redbox Technologies, <thamer@redboxsa.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Redbox\Shipping\Helper\Points">
        <arguments>
            <argument name="storeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="PlaceAfterPlugin" type="Redbox\Shipping\Plugin\Order\PlaceAfterPlugin" sortOrder="99" />
    </type>

    <preference for="Redbox\Shipping\Api\PointServiceInterface" type="Redbox\Shipping\Model\PointService"/>
    <preference for="Redbox\Shipping\Api\Data\AddressRepositoryInterface" type="Redbox\Shipping\Model\AddressRepository"/>
    <preference for="Redbox\Shipping\Api\Data\AddressInterface" type="Redbox\Shipping\Model\Address"/>

    <type name="Redbox\Shipping\Block\Adminhtml\Order\AbstractOrder">
        <arguments>
            <argument name="addressRepository" xsi:type="object">Redbox\Shipping\Api\Data\AddressRepositoryInterface</argument>
            <argument name="quoteFactory" xsi:type="object">Magento\Quote\Model\QuoteFactory</argument>
        </arguments>
    </type>
    <preference for="Magento\Sales\Block\Adminhtml\Order\AbstractOrder" type="Redbox\Shipping\Block\Adminhtml\Order\AbstractOrder"/>
    <preference for="Magento\Shipping\Block\Adminhtml\View\Form" type="Redbox\Shipping\Block\Adminhtml\Shipping\View\Form"/>
</config>
