<?xml version="1.0"?>
<!--
/**
  * (c) Redbox Parcel Lockers <thamer@redboxsa.com>
 * This source file is subject to the license that is bundled
 * with this source code in the file LICENSE.
 *
 * Built by Redbox Technologies, <thamer@redboxsa.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_address_load_after">
        <observer name="redbox_load_point_id_identifier" instance="Redbox\Shipping\Observer\LoadShippingAddressObserver"/>
    </event>
    <event name="sales_quote_address_save_after">
        <observer name="redobx_save_point_id_identifier" instance="Redbox\Shipping\Observer\SaveShippingAddressObserver"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="redbox_shipping_observer_place_order_after" instance="Redbox\Shipping\Observer\SalesPlaceOrderAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="redbox_shipping_observer_cancel_order_after" instance="Redbox\Shipping\Observer\CancelOrderAfter" />
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="redbox_shipping_observer_order_shipment_save_after" instance="Redbox\Shipping\Observer\SaveOrderShipmentAfter" />
    </event>
</config>
