<!--
/**
 * (c) Redbox Parcel Lockers <thamer@redboxsa.com>
 * This source file is subject to the license that is bundled
 * with this source code in the file LICENSE.
 *
 * Built by Redbox Technologies, <thamer@redboxsa.com>
 */
-->

<div id="lockers" class="lockers" style="display: none;">
    <div class="row redbox-map">
        <div class="col-md-12 redbox-header">
            <h3>Ship to RedBox Pickup point</h3>
        </div>
        <div id="init-redbox" data-bind="click: initRedbox"></div>
        <div class="col-md-12 modal_body_map">
            <div class="area-map">
                <div class="title-area">Search for a RedBox Pickup point near you</div>
                <p>RedBox Pickup points enable you to pick up your package at your convenience from a nearby self-service Locker or a staffed location</p>
                <div class="pac-card" id="pac-card"></div>
                <div id="pac-container">
                    <input id="pac-input" type="text" placeholder="Search by Address">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="location-map" id="location-map">
                <div style="height: 400px;" id="map"></div>
                <div data-bind="with: currentPoint, attr: { class: currentPoint() && currentPoint().id ? 'infowindow-template active' : 'infowindow-template' }">
                    <div class="close-point" data-bind="click: $parent.clearPoint.bind($parent)"><i class="fa fa-times"></i></div>
                    <div data-bind="attr: {'value-id': id, class: selected ? 'per-point selected' : 'per-point'}">
                        <div class="icon-block">
                            <div class="a-icon">
                                <img data-bind="attr: {'src': icon}">
                            </div>
                            <div class="a-content">
                                <div class="name1" data-bind="text: host_name_en"></div>
                                <div class="name2" data-bind="text: point_name"></div>
                            </div>
                        </div>
                        <div class="icon-block">
                            <div class="a-icon"><i class="fa fa-map-marker"></i></div>
                            <div class="a-content">
                                <span data-bind="text: address.street"></span> - <span data-bind="text: address.district"></span> - <span data-bind="text: address.city"></span>
                            </div>
                        </div>
                        <div class="icon-block">
                            <div class="a-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="a-content" data-bind="text: open_hour"></div>
                        </div>
                        <div class="icon-block">
                            <div class="a-icon"><i class="fa fa-truck"></i></div>
                            <div class="a-content">Estimate time delivery: <span data-bind="text: estimateTime"></span>H</div>
                        </div>
                        <div data-bind="visible: !is_public" class="popup-confirm-access-restricted-area">
                            <b class="css-restricted-access">Restricted access:</b>
                            <span data-bind="text: alert_message.en"></span>
                            <div class="tem-css">
                                <div class="checkbox pd-0">
                                    <label data-bind="attr: {for: id + '-restricted-access'}">
                                        <input
                                            class="each-permission-js"
                                            type="checkbox"
                                            data-bind="attr: {id: id + '-restricted-access'}, event: { change: $parent.confirmCanAccessThisLocation.bind($parent) }"
                                        />
                                        I confirm that I have access to this location
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="area-select-point">
                            <button data-bind="click: $parent.pickPoint.bind($parent, id), attr: {class: is_public ? 'asp-not-disabled' : 'asp-not-disabled disabled', disabled: !is_public}">Ship to this location</button>
                            <span class="selected-point"><i class="fa fa-check" aria-hidden="true"></i>Selected Point</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="visible: redboxLoading" class="redbox-loading">
            <div class="redbox-loader"></div>
        </div>
    </div>
</div>
